<?xml version="1.0"?>
<!--
/**
 * SveaWebPay Payment Module for Magento.
 *   Copyright (C) 2012  SveaWebPay
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  Any questions may be directed to kundtjanst.sveawebpay@sveaekonomi.se
 */
-->
<config>
	<modules>
		<SveaWebPay_Hosted>
			<version>3.3.4</version>
		</SveaWebPay_Hosted>
	</modules>
	<global>
		<models>
			<sveawebpay>
				<class>SveaWebPay_Hosted_Model</class>
				<resourceModel>sveawebpay_mysql4</resourceModel>
			</sveawebpay>
			
			<sveawebpay_mysql4>
				<class>SveaWebPay_Hosted_Model_Mysql4</class>
				<entities>
					<handlingfeestore>
						<table>sveawebpay</table>
					</handlingfeestore>
				</entities>
			</sveawebpay_mysql4>
			
			<sveawebpay_source>
				<class>SveaWebPay_Hosted_Model_Source</class>
			</sveawebpay_source>
		</models>

        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <sveawebpay>
                        <type>singleton</type>
                        <class>SveaWebPay_Hosted_Model_Observer_Invoice</class>
                        <method>save</method>
                    </sveawebpay>
                </observers>
            </sales_order_invoice_save_after>
        </events>
	  
	 
        <pdf>
            <totals>
                <handlingfee_hosted translate="title">
                <title>Handlingfee</title>
                <model>sveawebpay/sales_pdf_invoice</model>
                <font_size>7</font_size>
                <display_zero>0</display_zero>
                <sort_order>300</sort_order>
                </handlingfee_hosted>
            </totals>
        </pdf>
                  
        <sales>
        
        	    <quote>
    				<totals>
    					<handlingfee_hosted>
    						<class>SveaWebPay_Hosted_Model_Sales_Order_View</class>
    						<after>discount,tax,subtotal</after>
    						<before>grand_total</before>
                        <renderer>sveawebpay/checkout_handlingfeeTotalRenderer</renderer>
    					</handlingfee_hosted>
    				</totals>
    			</quote>
    			
                <order_invoice>
                    <totals>
                        <handlingfee_hosted>
                            <class>sveawebpay/order_invoice_total_handlingfee</class>
                            <after>discount,tax</after>
                            <before>grand_total</before>
                        </handlingfee_hosted>
                    </totals>
                </order_invoice>
    
        </sales>

		<blocks>
			<sveawebpay>
				<class>SveaWebPay_Hosted_Block</class>
			</sveawebpay>
		</blocks>
		
		<helpers>
			<SveaWebPay_Hosted>
				<class>SveaWebPay_Hosted_Helper</class>
			</SveaWebPay_Hosted>
			<sveawebpay>
				<class>SveaWebPay_Hosted_Helper</class>
			</sveawebpay>
		</helpers>
		
		<rewrite>
			<sveawebpay_hosted_base>
				<from><![CDATA[#^/sveawebpay/hosted/#]]></from>
				<to>/swphosted/base/</to>
			</sveawebpay_hosted_base>
		</rewrite>
		
		<resources>
			<sveawebpay_setup>
				<setup>
					<module>SveaWebPay_Hosted</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sveawebpay_setup>
			<sveawebpay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sveawebpay_write>
			<sveawebpay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sveawebpay_read>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<SveaWebPay_Hosted>
					<files>
						<default>SveaWebPay_Hosted.csv</default>
					</files>
				</SveaWebPay_Hosted>
			</modules>
		</translate>
		<routers>
			<sveawebpay_hosted>
				<use>standard</use>
				<args>
					<module>SveaWebPay_Hosted</module>
					<frontName>swphosted</frontName>
				</args>
			</sveawebpay_hosted>
		</routers>
		<layout>
			<updates>
				<sveawebpay module="SveaWebPay_Hosted">
					<file>sveawebpay.xml</file>
				</sveawebpay>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<sveawebpay module="SveaWebPay_Hosted">
					<file>sveawebpay.xml</file>
				</sveawebpay>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<swpinvoice>
				<active>0</active>
				<model>sveawebpay/invoice</model>
				<username>Testinstallation</username>
				<password>Testinstallation</password>
				<order_success_status>pending</order_success_status>
				<set_paid>0</set_paid>
				<title>SveaWebPay Invoice</title>
				<display_images>1</display_images>
				<currencies>SEK,NOK,DKK,EUR</currencies>
				<default_currency>SEK</default_currency>
				<allowspecific>0</allowspecific>
				<test>1</test>
				<order_total_ignore></order_total_ignore>
				<handling_fee>0</handling_fee>
				<handling_fee_description>Faktureringsavgift</handling_fee_description>
				<handling_fee_value>0</handling_fee_value>
				<handling_fee_includes_tax>0</handling_fee_includes_tax>
				<handling_fee_inherit>1</handling_fee_inherit>
				<handling_fee_tax_class>1</handling_fee_tax_class>
				<handling_fee_display_cart>1</handling_fee_display_cart>
				<handling_fee_display_order>1</handling_fee_display_order>
				<handling_fee_display_before>discount,tax,grand_total</handling_fee_display_before>
				<shipping_tax_override>0</shipping_tax_override>
				<update_billing>1</update_billing>
				<update_shipping>1</update_shipping>
				<sort_order>13</sort_order>
			</swpinvoice>
			<swpinternet>
				<active>0</active>
				<model>sveawebpay/internet</model>
				<username>Testinstallation</username>
				<password>Testinstallation</password>
				<order_success_status>pending</order_success_status>
				<set_paid>1</set_paid>
				<title>SveaWebPay Internet Bank</title>
				<display_images>1</display_images>
				<currencies>SEK,NOK,DKK,EUR</currencies>
				<default_currency>SEK</default_currency>
				<allowspecific>0</allowspecific>
				<test>1</test>
				<order_total_ignore></order_total_ignore>
				<handling_fee>0</handling_fee>
				<handling_fee_description>Faktureringsavgift</handling_fee_description>
				<handling_fee_value>0</handling_fee_value>
				<handling_fee_includes_tax>0</handling_fee_includes_tax>
				<handling_fee_inherit>1</handling_fee_inherit>
				<handling_fee_tax_class>1</handling_fee_tax_class>
				<handling_fee_display_cart>1</handling_fee_display_cart>
				<handling_fee_display_order>1</handling_fee_display_order>
				<handling_fee_display_before>discount,tax,grand_total</handling_fee_display_before>
				<shipping_tax_override>0</shipping_tax_override>
				<sort_order>12</sort_order>
			</swpinternet>
			<swpcc>
				<active>0</active>
				<username>Testinstallation</username>
				<password>Testinstallation</password>
				<model>sveawebpay/cc</model>
				<order_success_status>pending</order_success_status>
				<set_paid>1</set_paid>
				<title>SveaWebPay Credit Card</title>
				<display_images>1</display_images>
				<currencies>SEK,NOK,DKK,EUR</currencies>
				<default_currency>SEK</default_currency>
				<allowspecific>0</allowspecific>
				<test>1</test>
				<order_total_ignore></order_total_ignore>
				<handling_fee>0</handling_fee>
				<handling_fee_description>Faktureringsavgift</handling_fee_description>
				<handling_fee_value>0</handling_fee_value>
				<handling_fee_includes_tax>0</handling_fee_includes_tax>
				<handling_fee_inherit>1</handling_fee_inherit>
				<handling_fee_tax_class>1</handling_fee_tax_class>
				<handling_fee_display_cart>1</handling_fee_display_cart>
				<handling_fee_display_order>1</handling_fee_display_order>
				<handling_fee_display_before>discount,tax,grand_total</handling_fee_display_before>
				<shipping_tax_override>0</shipping_tax_override>
				<sort_order>11</sort_order>
			</swpcc>
			<swppartpay>
				<active>0</active>
				<model>sveawebpay/partpay</model>
				<username>Testinstallation</username>
				<password>Testinstallation</password>
				<order_success_status>pending</order_success_status>
				<set_paid>0</set_paid>
				<title>SveaWebPay PartPay</title>
				<display_images>1</display_images>
				<currencies>SEK,NOK,DKK,EUR</currencies>
				<default_currency>SEK</default_currency>
				<allowspecific>0</allowspecific>
				<min_order_value>1000</min_order_value>
				<test>1</test>
				<order_total_ignore></order_total_ignore>
				<handling_fee>0</handling_fee>
				<handling_fee_description>Faktureringsavgift</handling_fee_description>
				<handling_fee_value>0</handling_fee_value>
				<handling_fee_includes_tax>0</handling_fee_includes_tax>
				<handling_fee_inherit>1</handling_fee_inherit>
				<handling_fee_tax_class>1</handling_fee_tax_class>
				<handling_fee_display_cart>1</handling_fee_display_cart>
				<handling_fee_display_order>1</handling_fee_display_order>
				<handling_fee_display_before>discount,tax,grand_total</handling_fee_display_before>
				<shipping_tax_override>0</shipping_tax_override>
				<update_billing>1</update_billing>
				<update_shipping>1</update_shipping>
				<sort_order>14</sort_order>
			</swppartpay>
		</payment>
	</default>
</config>