<?xml version="1.0"?>
<config>
    <modules>
        <Svea_WebPay>
            <version>4.0.23</version>
        </Svea_WebPay>
    </modules>
    <global>
        <blocks>
            <svea_webpay>
                <class>Svea_WebPay_Block</class>
            </svea_webpay>
            <catalog>
                <rewrite>
                    <product_price>Svea_WebPay_Block_Frontend_Catalog_Product_Price</product_price>
                </rewrite>
            </catalog>
            <bundle>
                <rewrite>
                    <catalog_product_price>Svea_WebPay_Block_Frontend_Catalog_Product_Price</catalog_product_price>
                </rewrite>
            </bundle>
        </blocks>

        <models>
            <svea_webpay>
                <class>Svea_WebPay_Model</class>
                <resourceModel>svea_webpay_resource</resourceModel>
            </svea_webpay>
            <svea_webpay_resource>
                <class>Svea_WebPay_Model_Resource</class>
                <entities>
                    <paymentplan>
                        <table>svea_webpay_paymentplan</table>
                    </paymentplan>
                </entities>
            </svea_webpay_resource>
        </models>

        <resources>
            <svea_webpay_setup>
                <setup>
                    <module>Svea_WebPay</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </svea_webpay_setup>
        </resources>

        <helpers>
            <svea_webpay>
                <class>Svea_WebPay_Helper</class>
            </svea_webpay>
        </helpers>

        <sales>
            <!-- Definitions by custom total renderers -->
            <quote>
                <!-- For checkout + cart -->
                <totals>
                    <svea_payment_fee>
                        <class>svea_webpay/quote_total_paymentfee</class>
                        <after>subtotal,freeshipping,msrp</after>
                        <before>shipping,grand_total</before>
                    </svea_payment_fee>
                    <svea_payment_fee_tax>
                        <class>svea_webpay/quote_total_tax</class>
                        <after>svea_payment_fee,tax_shipping,discount,msrp,tax</after>
                        <before>grand_total</before>
                    </svea_payment_fee_tax>
                </totals>
            </quote>

            <!-- Invoice admin -->
            <order_invoice>
                <totals>
                    <svea_payment_fee>
                        <class>svea_webpay/invoice_total_paymentfee</class>
                        <after>subtotal,shipping,cost,tax</after>
                        <before>grand_total</before>
                    </svea_payment_fee>
                </totals>
            </order_invoice>

            <!-- Refund admin -->
            <order_creditmemo>
                <totals>
                    <svea_payment_fee>
                        <class>svea_webpay/creditmemo_total_paymentfee</class>
                        <after>subtotal,wee,discount,shipping,cost_total,grand_total,tax</after>
                    </svea_payment_fee>
                </totals>
            </order_creditmemo>
        </sales>

        <pdf>
            <totals>
                <svea_handling_fee translate="title">
                    <title>invoice_fee</title>
                    <model>svea_webpay/sales_order_pdf_total_paymentfee</model>
                    <source_field>payment_fee</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>450</sort_order>
                </svea_handling_fee>
            </totals>
        </pdf>

        <fieldsets>
            <sales_convert_quote_address>
                <svea_payment_fee_amount>
                    <to_order>*</to_order>
                </svea_payment_fee_amount>
                <svea_payment_fee_tax_amount>
                    <to_order>*</to_order>
                </svea_payment_fee_tax_amount>
                <svea_payment_fee_incl_tax>
                    <to_order>*</to_order>
                </svea_payment_fee_incl_tax>
                <base_svea_payment_fee_amount>
                    <to_order>*</to_order>
                </base_svea_payment_fee_amount>
                <base_svea_payment_fee_tax_amount>
                    <to_order>*</to_order>
                </base_svea_payment_fee_tax_amount>
                <base_svea_payment_fee_incl_tax>
                    <to_order>*</to_order>
                </base_svea_payment_fee_incl_tax>
            </sales_convert_quote_address>
        </fieldsets>

        <events>
            <sales_order_payment_place_start>
                <observers>
                    <setup_hosted_order>
                        <type>singleton</type>
                        <class>svea_webpay/sales_observer</class>
                        <method>setupHostedOrder</method>
                    </setup_hosted_order>
                </observers>
            </sales_order_payment_place_start>
            <sales_order_payment_place_end>
                <observers>
                    <autodeliver_order>
                        <type>singleton</type>
                        <class>svea_webpay/sales_observer</class>
                        <method>autodeliverOrder</method>
                    </autodeliver_order>
                </observers>
            </sales_order_payment_place_end>
            <sales_order_payment_capture>
                <observers>
                    <set_current_invoice_to_capture>
                        <type>singleton</type>
                        <class>svea_webpay/order_payment_capture_observer</class>
                        <method>setCurrentInvoiceToCapture</method>
                    </set_current_invoice_to_capture>
                </observers>
            </sales_order_payment_capture>
            <core_block_abstract_to_html_before>
                <observers>
                    <add_payment_fee_total_to_block>
                        <type>singleton</type>
                        <class>svea_webpay/layout_observer</class>
                        <method>addPaymentFeeTotalToBlock</method>
                    </add_payment_fee_total_to_block>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <svea_webpay after="Mage_Adminhtml">Svea_WebPay</svea_webpay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <Svea_WebPay>
                <use>standard</use>
                <args>
                    <module>Svea_WebPay</module>
                    <frontName>svea_webpay</frontName>
                </args>
            </Svea_WebPay>
        </routers>

        <layout>
            <updates>
                <svea_webpay>
                    <file>svea_webpay.xml</file>
                </svea_webpay>
            </updates>
        </layout>

        <translate>
            <modules>
                <Svea_WebPay>
                    <files>
                        <default>Svea_WebPay.csv</default>
                    </files>
                </Svea_WebPay>
            </modules>
        </translate>

        <events>
            <sales_quote_payment_import_data_before>
                <observers>
                    <add_svea_data>
                        <type>singleton</type>
                        <class>svea_webpay/checkout_observer</class>
                        <method>addSveaData</method>
                    </add_svea_data>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <reactivate_quote_before_gateway>
                        <type>singleton</type>
                        <class>svea_webpay/checkout_observer</class>
                        <method>reactivateQuoteBeforeGateway</method>
                    </reactivate_quote_before_gateway>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Svea_WebPay>
                    <files>
                        <default>Svea_WebPay.csv</default>
                    </files>
                </Svea_WebPay>
            </modules>
        </translate>
    </adminhtml>

    <crontab>
        <jobs>
            <svea_cancel_old_pending_gateway_orders>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>svea_webpay/sales_observer::cancelOldPendingGatewayOrders</model>
                </run>
            </svea_cancel_old_pending_gateway_orders>
        </jobs>
    </crontab>

    <default>
        <sales>
            <!-- Used by the quote to sort totals -->
            <totals_sort>
                <svea_payment_fee>15</svea_payment_fee>
            </totals_sort>
        </sales>
        <payment>
            <svea_cardpayment>
                <active>0</active>
                <model>svea_webpay/hosted_card</model>
                <order_status>pending</order_status>
                <title>Svea Card Payment</title>
                <test>1</test>
                <payment_action>order</payment_action>
                <clear_cart_on_fulfillment>1</clear_cart_on_fulfillment>
                <card_logos>visa,mc</card_logos>
            </svea_cardpayment>
            <svea_directpayment>
                <active>0</active>
                <model>svea_webpay/hosted_direct</model>
                <order_status>pending</order_status>
                <title>Svea Direct Payment</title>
                <test>1</test>
                <payment_action>order</payment_action>
                <clear_cart_on_fulfillment>1</clear_cart_on_fulfillment>
            </svea_directpayment>
            <svea_invoice>
                <active>0</active>
                <model>svea_webpay/service_invoice</model>
                <order_status>pending</order_status>
                <title>Svea Invoice</title>
                <test>1</test>
                <handling_fee_includes_tax>1</handling_fee_includes_tax>
                <payment_action>authorize</payment_action>
            </svea_invoice>
            <svea_paymentplan>
                <active>0</active>
                <model>svea_webpay/service_paymentPlan</model>
                <order_status>pending</order_status>
                <title>Svea Payment Plan</title>
                <test>1</test>
                <payment_action>authorize</payment_action>
            </svea_paymentplan>
        </payment>
    </default>
</config>
