<?xml version="1.0"?>
<!--
/**
 * SveaWebPay Payment Module for Magento.
 *   Copyright (C) 2012  SveaWebPay
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  Any questions may be directed to kundtjanst.sveawebpay@sveaekonomi.se
 */
-->
<config>
	<modules>
		<SveaWebPay_Common>
			<version>3.3.4</version>
		</SveaWebPay_Common>
	</modules>
	<global>
		<helpers>
			<SveaWebPay_Common>
				<class>SveaWebPay_Common_Helper</class>
			</SveaWebPay_Common>
			<swpcommon>
				<class>SveaWebPay_Common_Helper</class>
			</swpcommon>
		</helpers>

		<models>
			<swpcommon>
				<class>SveaWebPay_Common_Model</class>
				<resourceModel>swpcommon_mysql4</resourceModel>
			</swpcommon>
      
			<swpcommon_mysql4>
				<class>SveaWebPay_Common_Model_Mysql4</class>
				<entities>
					<handlingfeestore>
						<table>sveawebpay_common_handlingfeestore</table>
					</handlingfeestore>
					<transactions>
						<table>sveawebpay_common_transactions</table>
					</transactions>
				</entities>
			</swpcommon_mysql4>
		</models>

		<resources>
			<swpcommon_setup>
				<setup>
					<module>SveaWebPay_Common</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</swpcommon_setup>

			<swpcommon_write>
				<connection>
					<use>core_write</use>
				</connection>
			</swpcommon_write>

			<swpcommon_read>
				<connection>
					<use>core_read</use>
				</connection>
			</swpcommon_read>
		</resources>
	</global>
</config>