.checkout-form {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 30px;
    margin-bottom: 20px;
    .form-list {

        // Float first and last name to same row
        .customer-name {
            .name-firstname {
                float: left;
                width: 49% !important;
                clear: none !important;
                margin-right: 1%;
            }
            .name-lastname {
                float: left;
                width: 49% !important;
                clear: none !important;
                margin-left: 1%;
            }
        }

        // Part payment cost calculation
        #paymentplan_cost_text {
            background-color: #297ab7;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            color: white;
            display: inline-block;
            padding: 1px 6px;
            margin-top: 10px;
            font-weight: bold;
            .cost {
                font-weight: bold;
            }
        }
    }
}








.customer-type {
    margin-bottom: 20px !important;
    label:first-child {
        margin-right: 40px;
    }
}

// When Svea is used together with Stream Checkout
#streamcheckout {
    .form-list {
        &.svea_ssn_container {
            .input-box {
                float: left;
                width: 59% !important;
                margin-right: 1%;
            }
            button {
                float: right;
                width: 39%;
                > span {
                    height: 25px !important;
                }
                span {
                    line-height: 25px !important;
                }
            }
        }
    }
}