<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Svea_WebPay>
            <version>4.1.0</version>
        </Svea_WebPay>
    </modules>
    <frontend>
        <secure_url>
            <svea_webpay>/svea_webpay</svea_webpay>
        </secure_url>
        <routers>
            <svea_webpay>
                <use>standard</use>
                <args>
                    <module>Svea_WebPay</module>
                    <frontName>svea_webpay</frontName>
                </args>
            </svea_webpay>
        </routers>
    </frontend>
    <global>
        <models>
            <svea_webpay>
                <class>Svea_WebPay_Model</class>
            </svea_webpay>
        </models>
        <blocks>
            <svea_webpay>
                <class>Svea_WebPay_Block</class>
            </svea_webpay>
        </blocks>
        <helpers>
            <svea_webpay>
                <class>Svea_WebPay_Helper</class>
            </svea_webpay>
        </helpers>
        <fieldsets>
            <sales_convert_quote_payment>
                <svea_invoice>
                    <to_order_payment>*</to_order_payment>
                </svea_invoice>
                <svea_paymentplan>
                    <to_order_payment>*</to_order_payment>
                </svea_paymentplan>
                <svea_hosted_card>
                    <to_order_payment>*</to_order_payment>
                </svea_hosted_card>
                <svea_hosted_direct>
                    <to_order_payment>*</to_order_payment>
                </svea_hosted_direct>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <svea_invoice>
                <active>0</active>
                <model>svea_webpay/payment_service_invoice</model>
                <title>Svea Invoice</title>
                <test>1</test>
                <payment_action>authorize</payment_action>
            </svea_invoice>
        </payment>
    </default>
</config>