<?xml version="1.0"?>
<!--
/**
 * SveaWebPay Payment Module for Magento.
 *   Copyright (C) 2012  SveaWebPay
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 *  Any questions may be directed to kundtjanst.sveawebpay@sveaekonomi.se
 */
-->
<config>
  <sections>
    <payment translate="label" module="payment">
      <groups>
        <swpwsinvoice translate="label" module="SveaWebPay_Webservice">
          <label>SveaWebPay Webservice Invoice</label>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          
          <fields>
          
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>0</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>

            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>

            <accnr translate="label">
              <label>Client Number</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </accnr>

            <username translate="label">
              <label>Account Username</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </username>

            <password translate="label">
              <label>Account Password</label>
              <frontend_type>password</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </password>

			<test translate="label">
				<label>Test Mode</label>
				<frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</test>
      
            <default_country>
              <label>Default Country (Where to search for addressses)</label>
              <frontend_type>select</frontend_type>
              <source_model>sveawebpayws/source_defaultcountry</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </default_country>
            
          	<set_paid translate="label">
              <label>Set paid amount to total after confirmation</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </set_paid>

            <order_success_status translate="label">
              <label>New Order Status</label>
              <frontend_type>select</frontend_type>
              <source_model>swpcommon/adminhtml_system_config_source_order_status</source_model>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_success_status>

            <allowspecific translate="label">
              <label>Payment from Applicable Countries</label>
              <frontend_type>allowspecific</frontend_type>
              <sort_order>10</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </allowspecific>
            
            <specificcountry translate="label">
              <label>Payment from Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>11</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <can_be_empty>1</can_be_empty>
            </specificcountry>
            
            <min_order_total translate="label">
              <label>Minimum Order Total</label>
              <comment>Hide paymentmethod if order amount is below this value, default value for test account is 1000.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </min_order_total>
            
            <max_order_total translate="label">
              <label>Maximum Order Total</label>
			        <comment>Hide paymentmethod if order amount is above this value, default value for test account is 7000.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </max_order_total>
            
            <handling_fee translate="label">
              <label>Apply Handling Fee</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee>
            
            <handling_fee_description translate="label">
              <label>Handling Fee Description</label>
              <frontend_type>text</frontend_type>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_description>
            
            <handling_fee_value translate="label">
              <label>Handling Fee Value</label>
              <frontend_type>text</frontend_type>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_value>
            
            <handling_fee_includes_tax translate="label">
              <label>Handling Fee Entered</label>
              <frontend_type>select</frontend_type>
              <backend_model>tax/config_price_include</backend_model>
              <source_model>tax/system_config_source_priceType</source_model>
              <sort_order>17</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </handling_fee_includes_tax>
            
            <handling_fee_inherit>
              <label>Handling Fee Inherts Tax from Products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_inherit>
            
            <handling_fee_tax_class translate="label">
              <label>Tax Class for Handling Fee, if not Inherited</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_shipping_taxclass</source_model>
              <sort_order>19</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_tax_class>
            
            <handling_fee_display_cart translate="label">
              <label>Display Handling Fee in Cart</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_display_cart>
            
            <frontend_handling_fee_display_order translate="label">
              <label>Display Handling Fee in Order (Frontend)</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </frontend_handling_fee_display_order>
            
            <backend_handling_fee_display_order translate="label">
              <label>Display Handling Fee in Order (Backend)</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </backend_handling_fee_display_order>
            
            <shipping_tax_override>
              <label>Override Shipping Tax to Inherit from Products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </shipping_tax_override>
            
            <update_billing>
              <label>Update billing address from response</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>24</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </update_billing>
            
            <update_shipping>
              <label>Update shipping address from response</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>25</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </update_shipping>
            
            <order_total_ignore translate="label">
              <label>Order Total Code Ignore List</label>
              <frontend_type>text</frontend_type>
              <sort_order>26</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_total_ignore>
            
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>27</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
            
            <require_email translate="label">
              <label>Require Email</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>28</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </require_email>
            
            <display_images translate="label">
              <label>Display Images</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>29</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </display_images>
            
            <only_private>
              <label>Disable Company Purchase</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </only_private>
          </fields>
        </swpwsinvoice>
        
        
        
  	    <swpwspartpay translate="label" module="SveaWebPay_Webservice">
          <label>SveaWebPay Webservice Partpay</label>
  
          <sort_order>101</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>0</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            
            <title translate="label">
      				<label>Title</label>
      				<frontend_type>text</frontend_type>
      				<sort_order>1</sort_order>
      				<show_in_default>1</show_in_default>
      				<show_in_website>1</show_in_website>
      				<show_in_store>1</show_in_store>
      			</title>

            <accnr translate="label">
              <label>Client Number</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </accnr>
            
            <username translate="label">
              <label>Account Username</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </username>
  
            <password translate="label">
              <label>Account Password</label>
              <frontend_type>password</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </password>
  
			<test translate="label">
				<label>Test Mode</label>
				<frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</test>
            
            <default_country>
              <label>Default Country (Where to search for addressses)</label>
              <frontend_type>select</frontend_type>
              <source_model>sveawebpayws/source_defaultcountry</source_model>
              <sort_order>7</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </default_country>
            
          	<set_paid translate="label">
              <label>Set paid amount to total after confirmation</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>8</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </set_paid>
  
            <order_success_status translate="label">
              <label>New Order Status</label>
              <frontend_type>select</frontend_type>
              <source_model>swpcommon/adminhtml_system_config_source_order_status</source_model>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_success_status>
  
  		
            <allowspecific translate="label">
              <label>Payment from Applicable Countries</label>
              <frontend_type>allowspecific</frontend_type>
              <sort_order>10</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </allowspecific>
            
            <specificcountry translate="label">
              <label>Payment from Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>11</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <can_be_empty>1</can_be_empty>
            </specificcountry>
            
            <min_order_total translate="label">
              <label>Minimum Order Total</label>
  		        <comment>Hide paymentmethod if order amount is below this value, default value for test account is 1000.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </min_order_total>
            
            <max_order_total translate="label">
              <label>Maximum Order Total</label>
  		        <comment>Hide paymentmethod if order amount is above this value, default value for test account is 7000.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </max_order_total>
            
            <handling_fee translate="label">
              <label>Apply Handling Fee</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>14</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee>
            
            <handling_fee_description translate="label">
              <label>Handling Fee Description</label>
              <frontend_type>text</frontend_type>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_description>
            
            <handling_fee_value translate="label">
              <label>Handling Fee Value</label>
              <frontend_type>text</frontend_type>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_value>
            
            <handling_fee_includes_tax translate="label">
              <label>Handling Fee Entered</label>
              <frontend_type>select</frontend_type>
              <backend_model>tax/config_price_include</backend_model>
              <source_model>tax/system_config_source_priceType</source_model>
              <sort_order>17</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </handling_fee_includes_tax>
            
            <handling_fee_inherit>
              <label>Handling Fee Inherts Tax from Products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>18</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_inherit>
            
            <handling_fee_tax_class translate="label">
              <label>Tax Class for Handling Fee, if not Inherited</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_shipping_taxclass</source_model>
              <sort_order>19</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_tax_class>
            
            <handling_fee_display_cart translate="label">
              <label>Display Handling Fee in Cart</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </handling_fee_display_cart>
            
            <frontend_handling_fee_display_order translate="label">
              <label>Display Handling Fee in Order (Frontend)</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </frontend_handling_fee_display_order>

            <backend_handling_fee_display_order translate="label">
              <label>Display Handling Fee in Order (Backend)</label>
              <frontend_type>select</frontend_type>
              <source_model>tax/system_config_source_tax_display_type</source_model>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </backend_handling_fee_display_order>
            
            <shipping_tax_override>
              <label>Override Shipping Tax to Inherit from Products</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </shipping_tax_override>
            
            <update_billing>
              <label>Update billing address from response</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>23</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </update_billing>
            
            <update_shipping>
              <label>Update shipping address from response</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>24</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </update_shipping>
            
            <order_total_ignore translate="label">
              <label>Order Total Code Ignore List</label>
              <frontend_type>text</frontend_type>
              <sort_order>25</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </order_total_ignore>
            
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <sort_order>26</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </sort_order>
            
            <require_email translate="label">
              <label>Require Email</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>27</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </require_email>
            
            <display_images translate="label">
              <label>Display Images</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>28</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </display_images>

          </fields>
        </swpwspartpay>
      </groups>
    </payment>
  </sections>
</config>